/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* variables */
:root{
    --basic-dark: #0e1a35;
    --basic-gray: #f6f7f1;
    --blue: #5584ff;
    --basic-black: #000000;
    --basic-white: #ffffff;
    --font-gray: #8492af;
}

a{
    text-decoration: none;
}

.page-body{
    /*min-width: 2000px;*/
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 18pt;
    color:var(--font-gray);
}

.main-header{
    background-color: var(--basic-dark);
    color: var(--basic-white);
    margin: 0;

}
.main-navigation-list{
    list-style: none;
}

.main-navigation-login{
    color: var(--blue);
    border: 1px solid var(--blue) ;
}

.container{
    /*margin-right: 250px;*/
    /*margin-left: 250px;*/
}
.dark-section{
    background-color: var(--basic-dark);
}
.dark-section .name-section{
    color: var(--basic-white);
}
.white-section{
    background-color: var(--basic-white);
}
.white-section .name-section, .white-section h3{
    color: var(--basic-black);
}

.name-section{
    font-weight: 100;
    font-size: 60pt;
    text-align: center;
}
.button{
    font-size: 18pt;
    line-height: 48px;
    display: inline-block;
    height: 48px;
    border-radius: 24px;
    text-align: center;
}
.button-blue{
    color: var(--basic-white);
    background-color: var(--blue);
}
.button-white{
    color: var(--basic-black);
    border:1px solid var(--font-gray);
}
.features-list{
    list-style: none;
}
.features-item{
    text-align: center;
}
.open-in-browser{
    background-color: var(--basic-gray);
}

.open-in-browser-list{
    list-style: none;
}
.open-in-browser-item{
    color: var(--blue);
}
.circle-button{
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--font-gray);
}
.column-name{
    font-size: 30.59pt;
    color: var(--basic-white);
}
.task-item{
    background-color: var(--basic-white);
}
.task-item h3{
    color: var(--basic-black);
    font-size: 18pt;
}
.task-item p{
    font-size: 14pt;
}
.in-progress p{
    color: var(--font-gray);
}
.completed p {
    color: #01bf1c;
}
.move p{
    color: #f83c7b;
}
.empty{
    background-color: transparent;
    border: 1px solid var(--font-gray);
}
.empty h3{
    color: var(--font-gray);
}
.psd-template{
    background-color: var(--basic-gray);
}
.psd-template-text{
    text-align: center;
}
.inscription h3{
    font-size: 24pt;
    font-weight: bold;
}